purge_cache
qi_config.cfg
boards/*
settings/*
cache/*
sources/*
vendor/*
build/*
.qi/*
extensions/*
!extensions/.gitkeep
styles/*
!styles/.gitkeep
*~
.idea
node_modules
/.agents
/agent
/skills-lock.json
