{% include 'overall_header.html' %}

<h1>{{ lang('CREATE_BOARD') }}</h1>

{% if S_ERROR %}
	<div class="alert alert-danger" role="alert">
		<h4 class="alert-heading">{{ ERROR_TITLE }}</h4>
		<p class="mb-0">{{ ERROR_MSG }}</p>
	</div>
{% endif %}

<form method="post" id="profile_form" action="{{ U_CHOOSE_PROFILE }}">
	<div class="card bg-light mb-3">
		<div class="card-body">
			<fieldset>
				<legend>{{ lang('PROFILES') }}</legend>
				<div class="mb-3 row">
					<label for="qi_profile" class="col-md-5 col-form-label">{{ lang('CURRENT_PROFILE') ~ lang('COLON') }}</label>
					<div class="col-md-5">
						{% if PROFILES is empty %}
							{{ lang('NO_PROFILES') }}
						{% else %}
							<select id="qi_profile" name="qi_profile" class="custom-select" data-form-submit="true">
								{% for name, selected in PROFILES %}
									<option value="{{ name }}"{% if selected %} selected="selected"{% endif %}>{{ name }}</option>
								{% endfor %}
							</select>
						{% endif %}
					</div>
					<div class="col-md-2">
						{% if PROFILES|length > 1 %}
							<noscript>
								<button type="submit" name="submit-profile" value="{{ lang('GO') }}" class="btn btn-primary">
									{{ lang('GO') }}
								</button>
							</noscript>
						{% endif %}
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</form>

<form method="post" id="create-form" class="needs-validation" novalidate data-submit-ajax action="{{ U_CREATE }}">
	<div class="card bg-light mb-3">
		<div class="card-body">
			<fieldset>
				<legend>{{ lang('CREATE_BOARD') }}</legend>
				<div class="mb-3 row">
					<label for="site_name" class="col-md-5 col-form-label">{{ lang('BOARD_NAME') ~ lang('COLON') }}</label>
					<div class="col-md-7"><input class="form-control" type="text" id="site_name" name="site_name" value="{{ SITE_NAME }}"></div>
				</div>
				<div class="mb-3 row">
					<label for="site_desc" class="col-md-5 col-form-label">{{ lang('BOARD_DESC') ~ lang('COLON') }}</label>
					<div class="col-md-7"><input class="form-control" type="text" id="site_desc" name="site_desc" value="{{ SITE_DESC }}"></div>
				</div>
				<div class="mb-3 row">
					<label for="dbname" class="col-md-5 col-form-label">{{ lang('BOARD_DBNAME') ~ lang('COLON') }}</label>
					<div class="col-md-7"><input class="form-control" type="text" id="dbname" name="dbname" value="{{ DBNAME }}" required></div>
				</div>

				{% if not S_DBUSER %}
				<div class="mb-3 row">
					<label for="dbuser" class="col-md-5 col-form-label">{{ lang('DBUSER') ~ lang('COLON') }}</label>
					<div class="col-md-7"><input class="form-control" type="password" id="dbuser" name="dbuser" value="{{ CONFIG_DBUSER }}" required></div>
				</div>
				{% endif %}
				{% if not S_DBPASSWD and not S_NODBPASSWD %}
				<div class="mb-3 row">
					<label for="dbpasswd" class="col-md-5 col-form-label">{{ lang('DBPASSWD') ~ lang('COLON') }}</label>
					<div class="col-md-7"><input class="form-control" type="password" id="dbpasswd" name="dbpasswd" value="{{ CONFIG_DBPASSWD }}" required></div>
				</div>
				{% endif %}
				{% if not S_ADMIN_NAME %}
				<div class="mb-3 row">
					<label for="admin_name" class="col-md-5 col-form-label">{{ lang('ADMIN_NAME') ~ lang('COLON') }}</label>
					<div class="col-md-7"><input class="form-control" type="password" id="admin_name" name="admin_name" value="{{ CONFIG_ADMIN_NAME }}" required></div>
				</div>
				{% endif %}
				{% if not S_ADMIN_PASS %}
				<div class="mb-3 row">
					<label for="admin_pass" class="col-md-5 col-form-label">{{ lang('ADMIN_PASS') ~ lang('COLON') }}</label>
					<div class="col-md-7"><input class="form-control" type="password" id="admin_pass" name="admin_pass" value="{{ CONFIG_ADMIN_PASS }}" required></div>
				</div>
				{% endif %}

				<div class="mb-3 row">
					<label class="col-md-5 col-form-label">{{ lang('REDIRECT_BOARD') ~ lang('COLON') }}</label>
					<div class="col-md-7">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="redirect" id="redirect1" value="1"{% if S_REDIRECT == 1 %} checked="checked"{% endif %}>
							<label class="form-check-label" for="redirect1">{{ lang('YES') }}</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="redirect" id="redirect2" value="0"{% if S_REDIRECT == 0 %} checked="checked"{% endif %}>
							<label class="form-check-label" for="redirect2">{{ lang('NO') }}</label>
						</div>
					</div>
				</div>
				<div class="mb-3 row">
					<label class="col-md-5 col-form-label">{{ lang('POPULATE') ~ lang('COLON') }}</label>
					<div class="col-md-7">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="populate" id="populate1" value="1"{% if S_POPULATE == 1 %} checked="checked"{% endif %}>
							<label class="form-check-label" for="populate1">{{ lang('YES') }}</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="populate" id="populate0" value="0"{% if S_POPULATE == 0 %} checked="checked"{% endif %}>
							<label class="form-check-label" for="populate0">{{ lang('NO') }}</label>
						</div>
					</div>
				</div>
				<div class="mb-3 row">
					<label class="col-md-5 col-form-label">{{ lang('ENABLE_DEBUG') ~ lang('COLON') }}<span class="form-text text-muted">{{ lang('ENABLE_DEBUG_EXPLAIN') }}</span></label>
					<div class="col-md-7">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="debug" id="debug1" value="1"{% if S_DEBUG == 1 %} checked="checked"{% endif %}>
							<label class="form-check-label" for="debug1">{{ lang('YES') }}</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="debug" id="debug0" value="0"{% if S_DEBUG == 0 %} checked="checked"{% endif %}>
							<label class="form-check-label" for="debug0">{{ lang('NO') }}</label>
						</div>
					</div>
				</div>

				<div class="mb-3 row">
					<label class="col-md-5 col-form-label">{{ lang('INSTALL_STYLES') ~ lang('COLON') }}<span class="form-text text-muted">{{ lang('INSTALL_STYLES_EXPLAIN') }}</span></label>
					<div class="col-md-7">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="install_styles" id="install_styles1" value="1"{% if INSTALL_STYLES == 1 %} checked="checked"{% endif %}>
							<label class="form-check-label" for="install_styles1">{{ lang('YES') }}</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="install_styles" id="install_styles0" value="0"{% if INSTALL_STYLES == 0 %} checked="checked"{% endif %}>
							<label class="form-check-label" for="install_styles0">{{ lang('NO') }}</label>
						</div>
					</div>
				</div>

				<div class="mb-3 row">
					<div class="col-md-5">
						<div class="alert alert-warning">
							<div class="row">
								<div class="col-auto align-self-start pr-2">
									<svg class="bi icon text-warning" width="24" height="24" fill="currentColor">
										<use xlink:href="{{ T_THEME_PATH }}/assets/img/bootstrap-icons.svg#exclamation-triangle-fill"/>
									</svg>
								</div>
								<div class="col pl-2">
									{{ lang('MIGHT_TAKE_LONG') }}
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<button type="submit" name="submituser" id="submituser" class="btn btn-primary btn-lg btn-block">{{ lang('CREATE_BOARD') }}</button>
					</div>
				</div>
			</fieldset>

			<div class="alert alert-info">
				<div class="row">
					<div class="col-auto align-self-start pr-2">
						<svg class="bi icon text-info" width="24" height="24" fill="currentColor">
							<use xlink:href="{{ T_THEME_PATH }}/assets/img/bootstrap-icons.svg#info-square-fill"/>
						</svg>️
					</div>
					<div class="col pl-2">
						{{ lang('QI_MANAGE_HEADINGS') }}
					</div>
				</div>
			</div>

			<fieldset>
				<legend><a href="#options_advanced" data-toggle="collapse">{{ lang('INSTALL_OPTIONS') }}</a></legend>
				<div id="options_advanced" class="collapse">
					{% if S_ADMIN_NAME %}
					<div class="mb-3 row">
						<label for="admin_name-2" class="col-md-5 col-form-label">{{ lang('ADMIN_NAME') ~ lang('COLON') }}<span class="form-text text-muted">{{ lang('IF_EMPTY_EXPLAIN') }}</span></label>
						<div class="col-md-7"><input class="form-control" type="text" id="admin_name-2" name="admin_name"></div>
					</div>
					{% endif %}
					{% if S_ADMIN_PASS %}
					<div class="mb-3 row">
						<label for="admin_pass-2" class="col-md-5 col-form-label">{{ lang('ADMIN_PASS') ~ lang('COLON') }}<span class="form-text text-muted">{{ lang('IF_EMPTY_EXPLAIN') }}</span></label>
						<div class="col-md-7"><input class="form-control" type="password" id="admin_pass-2" name="admin_pass"></div>
					</div>
					{% endif %}
					<div class="mb-3 row">
						<label for="table_prefix" class="col-md-5 col-form-label">{{ lang('TABLE_PREFIX') ~ lang('COLON') }}</label>
						<div class="col-md-7"><input class="form-control" type="text" id="table_prefix" name="table_prefix" value="{{ TABLE_PREFIX }}"></div>
					</div>
					<div class="mb-3 row">
						<label for="db_prefix" class="col-md-5 col-form-label">{{ lang('DB_PREFIX') ~ lang('COLON') }}</label>
						<div class="col-md-7"><input class="form-control" type="text" id="db_prefix" name="db_prefix" value="{{ DB_PERFIX }}"></div>
					</div>
					<div class="mb-3 row">
						<label class="col-md-5 col-form-label">{{ lang('DROP_DB_IF_EXISTS') ~ lang('COLON') }}</label>
						<div class="col-md-7">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="drop_db" id="drop_db1" value="1"{% if S_DROP_DB == 1 %} checked="checked"{% endif %}>
								<label class="form-check-label" for="drop_db1">{{ lang('YES') }}</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="drop_db" id="drop_db0" value="0"{% if S_DROP_DB == 0 %} checked="checked"{% endif %}>
								<label class="form-check-label" for="drop_db0">{{ lang('NO') }}</label>
							</div>
						</div>
					</div>
					<div class="mb-3 row">
						<label class="col-md-5 col-form-label">{{ lang('DELETE_FILES_IF_EXIST') ~ lang('COLON') }}</label>
						<div class="col-md-7">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="delete_files" id="delete_files1" value="1"{% if S_DELETE_FILES == 1 %} checked="checked"{% endif %}>
								<label class="form-check-label" for="delete_files1">{{ lang('YES') }}</label>
							</div>
								<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="delete_files" id="delete_files0" value="0"{% if S_DELETE_FILES == 0 %} checked="checked"{% endif %}>
								<label class="form-check-label" for="delete_files0">{{ lang('NO') }}</label>
							</div>
						</div>
					</div>
					<div class="mb-3 row">
						<label class="col-md-5 col-form-label">{{ lang('MAKE_WRITABLE_BOARD') ~ lang('COLON') }}<span class="form-text text-muted">{{ lang('MAKE_WRITABLE_BOARD_EXPLAIN') }} {{ lang('NO_IMPACT_WIN') }}</span></label>
						<div class="col-md-7">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="make_writable" id="make_writable1" value="1"{% if S_MAKE_WRITABLE == 1 %} checked="checked"{% endif %}>
								<label class="form-check-label" for="make_writable1">{{ lang('YES') }}</label>
							</div>
								<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="make_writable" id="make_writable0" value="0"{% if S_MAKE_WRITABLE == 0 %} checked="checked"{% endif %}>
								<label class="form-check-label" for="make_writable0">{{ lang('NO') }}</label>
							</div>
						</div>
					</div>
					<div class="mb-3 row">
						<label for="grant_permissions" class="col-md-5 col-form-label">{{ lang('GRANT_PERMISSIONS') ~ lang('COLON') }}<span class="form-text text-muted">{{ lang('GRANT_PERMISSIONS_EXPLAIN') }} {{ lang('NO_IMPACT_WIN') }}</span></label>
						<div class="col-md-7"><input class="form-control" type="text" id="grant_permissions" name="grant_permissions" value="{{ GRANT_PERMISSIONS }}"></div>
					</div>
					<div class="mb-3 row">
						<label for="default_style" class="col-md-5 col-form-label">{{ lang('SET_DEFAULT_STYLE') ~ lang('COLON') }}<span class="form-text text-muted">{{ lang('SET_DEFAULT_STYLE_EXPLAIN') }}</span></label>
						<div class="col-md-7"><input class="form-control" type="text" id="default_style" name="default_style" value="{{ DEFAULT_STYLE }}"></div>
					</div>
					<div class="mb-3 row">
						<label for="alt_env" class="col-md-5 col-form-label">{{ lang('ALT_ENV') ~ lang('COLON') }}<span class="form-text text-muted">{{ lang('ALT_ENV_EXPLAIN') }}</span></label>
						<div class="col-md-7">
						{% if ALT_ENV|length %}
							<select class="custom-select" name="alt_env" id="alt_env">
								{% for alt_env in ALT_ENV %}
									<option value="{{ alt_env.value }}"{% if alt_env.selected %} selected="selected"{% endif %}>{{ alt_env.name }}</option>
								{% endfor %}
							</select>
						{% else %}
							{{ lang('NO_ALT_ENV') }}
						{% endif %}
						</div>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<legend><a href="#options_populate" data-toggle="collapse">{{ lang('POPULATE_OPTIONS') }}</a></legend>
				<div id="options_populate" class="collapse">
					<div class="mb-3 row">
						<label for="num_users" class="col-md-5 col-form-label">{{ lang('NUM_USERS') ~ lang('COLON') }}<span class="form-text text-muted">{{ lang('NUM_USERS_EXPLAIN') }}</span></label>
						<div class="col-md-7"><input class="form-control" type="number" min="0" max="99999" id="num_users" name="num_users" value="{{ NUM_USERS }}"></div>
					</div>
					<div class="mb-3 row">
						<label for="num_new_group" class="col-md-5 col-form-label">{{ lang('NUM_NEW_GROUP') ~ lang('COLON') }}<span class="form-text text-muted">{{ lang('NUM_NEW_GROUP_EXPLAIN') }}</span></label>
						<div class="col-md-7"><input class="form-control" type="number" min="0" max="99999" id="num_new_group" name="num_new_group" value="{{ NUM_NEW_GROUP }}"></div>
					</div>
					<div class="mb-3 row">
						<label for="email_domain" class="col-md-5 col-form-label">{{ lang('EMAIL_DOMAIN') ~ lang('COLON') }}<span class="form-text text-muted">{{ lang('EMAIL_DOMAIN_EXPLAIN') }}</span></label>
						<div class="col-md-7">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">@</span>
								</div>
								<input type="text" class="form-control" id="email_domain" name="email_domain" value="{{ EMAIL_DOMAIN }}">
							</div>
						</div>
					</div>
					<div class="mb-3 row">
						<label class="col-md-5 col-form-label">{{ lang('CREATE_ADMIN') ~ lang('COLON') }}<span class="form-text text-muted">{{ lang('CREATE_ADMIN_EXPLAIN') }}</span></label>
						<div class="col-md-7">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="create_admin" id="create_admin1" value="1"{% if CREATE_ADMIN == 1 %} checked="checked"{% endif %}>
								<label class="form-check-label" for="create_admin1">{{ lang('YES') }}</label>
							</div>
								<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="create_admin" id="create_admin0" value="0"{% if CREATE_ADMIN == 0 %} checked="checked"{% endif %}>
								<label class="form-check-label" for="create_admin0">{{ lang('NO') }}</label>
							</div>
						</div>
					</div>
					<div class="mb-3 row">
						<label class="col-md-5 col-form-label">{{ lang('CREATE_MOD') ~ lang('COLON') }}<span class="form-text text-muted">{{ lang('CREATE_MOD_EXPLAIN') }}</span></label>
						<div class="col-md-7">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="create_mod" id="create_mod1" value="1"{% if CREATE_MOD == 1 %} checked="checked"{% endif %}>
								<label class="form-check-label" for="create_mod1">{{ lang('YES') }}</label>
							</div>
								<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="create_mod" id="create_mod0" value="0"{% if CREATE_MOD == 0 %} checked="checked"{% endif %}>
								<label class="form-check-label" for="create_mod0">{{ lang('NO') }}</label>
							</div>
						</div>
					</div>
					<div class="mb-3 row">
						<label for="num_cats" class="col-md-5 col-form-label">{{ lang('NUM_CATS') ~ lang('COLON') }}<span class="form-text text-muted">{{ lang('NUM_CATS_EXPLAIN') }}</span></label>
						<div class="col-md-7"><input class="form-control" type="number" min="0" max="99999" id="num_cats" name="num_cats" value="{{ NUM_CATS }}"></div>
					</div>
					<div class="mb-3 row">
						<label for="num_forums" class="col-md-5 col-form-label">{{ lang('NUM_FORUMS') ~ lang('COLON') }}<span class="form-text text-muted">{{ lang('NUM_FORUMS_EXPLAIN') }}</span></label>
						<div class="col-md-7"><input class="form-control" type="number" min="0" max="99999" id="num_forums" name="num_forums" value="{{ NUM_FORUMS }}"></div>
					</div>
					<div class="mb-3 row">
						<label class="col-md-5 col-form-label">{{ lang('NUM_TOPICS') ~ lang('COLON') }}<span class="form-text text-muted">{{ lang('NUM_TOPICS_EXPLAIN') }}</span></label>
						<div class="col-md-7">
							<label>{{ lang('MIN') }} <input class="form-control" type="number" min="0" max="99999" id="num_topics" name="num_topics_min" value="{{ NUM_TOPICS_MIN }}"></label>
							<label>{{ lang('MAX') }} <input class="form-control" type="number" min="0" max="99999" name="num_topics_max" value="{{ NUM_TOPICS_MAX }}"></label>
						</div>
					</div>
					<div class="mb-3 row">
						<label class="col-md-5 col-form-label">{{ lang('NUM_REPLIES') ~ lang('COLON') }}<span class="form-text text-muted">{{ lang('NUM_REPLIES_EXPLAIN') }}</span></label>
						<div class="col-md-7">
							<label>{{ lang('MIN') }} <input class="form-control" type="number" min="0" max="99999" id="pop_data" name="num_replies_min" value="{{ NUM_REPLIES_MIN }}"></label>
							<label>{{ lang('MAX') }} <input class="form-control" type="number" min="0" max="99999" name="num_replies_max" value="{{ NUM_REPLIES_MAX }}"></label>
						</div>
					</div>
					<div class="alert alert-info">
						<h5 class="card-title">
							<svg class="bi icon text-info" width="24" height="24" fill="currentColor">
								<use xlink:href="{{ T_THEME_PATH }}/assets/img/bootstrap-icons.svg#info-square-fill"/>
							</svg> {{ lang('CHUNK_SETTINGS') }}
						</h5>
						<p class="card-text">{{ lang('CHUNK_SETTINGS_EXPLAIN') }}</p>
					</div>
					<div class="mb-3 row">
						<label for="chunk_post" class="col-md-5 col-form-label">{{ lang('CHUNK_POST') ~ lang('COLON') }}<span class="form-text text-muted">{{ lang('CHUNK_POST_EXPLAIN') }}</span></label>
						<div class="col-md-7"><input class="form-control" type="number" min="0" max="999999" id="chunk_post" name="chunk_post" value="{{ CHUNK_POST }}"></div>
					</div>
					<div class="mb-3 row">
						<label for="chunk_topic" class="col-md-5 col-form-label">{{ lang('CHUNK_TOPIC') ~ lang('COLON') }}<span class="form-text text-muted">{{ lang('CHUNK_TOPIC_EXPLAIN') }}</span></label>
						<div class="col-md-7"><input class="form-control" type="number" min="0" max="999999" id="chunk_topic" name="chunk_topic" value="{{ CHUNK_TOPIC }}"></div>
					</div>
					<div class="mb-3 row">
						<label for="chunk_user" class="col-md-5 col-form-label">{{ lang('CHUNK_USER') ~ lang('COLON') }}<span class="form-text text-muted">{{ lang('CHUNK_USER_EXPLAIN') }}</span></label>
						<div class="col-md-7"><input class="form-control" type="number" min="0" max="999999" id="chunk_user" name="chunk_user" value="{{ CHUNK_USER }}"></div>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<legend><a href="#options_config" data-toggle="collapse">{{ lang('BOARD_CONFIG_OPTIONS') }}</a></legend>
				<div id="options_config" class="collapse">
					<div class="mb-3 row">
						<label for="other_config" class="col-md-5 col-form-label">{{ lang('OTHER_CONFIG') ~ lang('COLON') }}<span class="form-text text-muted">{{ lang('OTHER_CONFIG_EXPLAIN') }}</span></label>
						<div class="col-md-7"><textarea class="form-control" name="other_config" id="other_config" rows="10">{{ OTHER_CONFIG }}</textarea></div>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</form>

<div class="modal fade" data-submit-modal tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content py-4">
			<div class="modal-body text-center">
				<h1>{{ lang('WORKING_ON_IT') }}</h1>
				<img src="{{ T_THEME_PATH }}/assets/img/loading.svg" alt="">
			</div>
		</div>
	</div>
</div>

{% include 'overall_footer.html' %}
