<!DOCTYPE html>
<html dir="{{ S_CONTENT_DIRECTION }}" lang="{{ S_USER_LANG }}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ PAGE_TITLE }} &bull; {{ lang('PHPBB_QI_TITLE') }}</title>

<link href="{{ T_THEME_PATH }}/assets/css/qi_bootstrap.min.css?v={{ QI_VERSION }}" rel="stylesheet" media="screen">
<link href="{{ T_THEME_PATH }}/assets/css/qi_style.css?v={{ QI_VERSION }}" rel="stylesheet" media="screen">
</head>

<body class="{{ S_CONTENT_DIRECTION }}" data-bs-spy="scroll" data-bs-target="#sidebar">

<nav class="navbar navbar-dark sticky-top navbar-expand-md bg-primary mb-2">
	<div class="container-fluid">
		<span class="navbar-brand"><span class="phpbb-logo">{{ lang('QUICKINSTALL') }}</span> {% if U_VERSION_CHECK_URL %} &nbsp; <a href="{{ U_VERSION_CHECK_URL }}" title="{{ VERSION_CHECK_TITLE }}" class="btn btn-danger">{{ lang('UPDATE_AVAILABLE')}} <span class="badge bg-light text-dark">{{ VERSION_CHECK_CURRENT }}</span></a>{% endif %}</span>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbar">
			<ul class="navbar-nav mt-2 mt-md-0">
				{% if not S_IN_INSTALL and S_HAS_PROFILES %}
					<li class="nav-item"><a class="nav-link{% if S_MAIN %} active{% endif %}"{% if S_MAIN %} aria-current="page"{% endif %} href="{{ U_MAIN }}"><span>{{ lang('BOARDS') }}</span></a></li>
				{% endif %}
				<li class="nav-item"><a class="nav-link{% if S_SETTINGS %} active{% endif %}"{% if S_SETTINGS %} aria-current="page"{% endif %}  href="{{ U_SETTINGS }}"><span>{{ lang('PROFILES') }}</span></a></li>
				<li class="nav-item"><a class="nav-link{% if S_DOCS %} active{% endif %}"{% if S_DOCS %} aria-current="page"{% endif %}  href="{{ U_DOCS }}"><span>{{ lang('DOCS_LONG') }}</span></a></li>
				<li class="nav-item"><a class="nav-link{% if S_PHPINFO %} active{% endif %}"{% if S_PHPINFO %} aria-current="page"{% endif %}  href="{{ U_PHPINFO }}"><span>{{ lang('PHPINFO') }}</span></a></li>
			</ul>
		</div>
	</div>
</nav>

<div id="back-top" class="container-fluid anchor">
	<div class="row">
		<div class="col-md-3 col-lg-2 d-none d-md-block sidebar" id="sidebar" role="navigation">
			{% if S_MAIN %}
				{% include 'sidebar_boards.html' %}
			{% elseif S_SETTINGS %}
				{% include 'sidebar_settings.html' %}
			{% elseif S_DOCS %}
				{% include 'sidebar_docs.html' %}
			{% elseif S_PHPINFO %}
				{% include 'sidebar_phpinfo.html' %}
			{% endif %}
		</div>
		<div class="col-md-9 ms-sm-auto col-lg-10 px-5">
			<div id="main">
