<h5>{{ lang('BOARDS_LIST') }}</h5>
{% for board in board_row %}
	{% if loop.first %}
		<form id="del_board" class="overflow-hidden" method="post" action="{{ U_MANAGE }}">
	{% endif %}
		<div class="custom-control custom-checkbox mb-2">
			<input type="checkbox" class="custom-control-input" data-mark id="del_board_{{ loop.index }}" name="select[]" value="{{ board.BOARD_NAME }}">
			<label class="custom-control-label" for="del_board_{{ loop.index }}"></label><a class="d-inline-block" href="{{ board.BOARD_URL }}">{{ board.BOARD_NAME }}</a>{% if board.VERSION %} <span class="badge badge-pill badge-secondary align-text-bottom ml-1">{{ board.VERSION }}</span>{% endif %}
		</div>
	{% if loop.last %}
		<div class="custom-control custom-switch mb-3">
			<input type="checkbox" class="custom-control-input" id="toggle_all" data-mark-list="markall" data-mark-target="#del_board">
			<label class="custom-control-label" for="toggle_all">{{ lang('CHECK_ALL') }}</label>
		</div>
		<p>
			<button class="btn btn-danger" name="delete" type="submit" value="delete" data-confirm="{{ lang('SURE_DELETE_BOARDS') }}">
				<svg class="bi icon text-white" width="16" height="16" fill="currentColor">
					<use xlink:href="{{ T_THEME_PATH }}/assets/img/bootstrap-icons.svg#trash"/>
				</svg> {{ lang('DELETE') }}
			</button>
		</p>
		</form>
	{% endif %}
{% else %}
	<p>{{ lang('NO_BOARDS') }}</p>
{% endfor %}
