<h4 class="my-2">{{ lang('CLI_DOCS') }}</h4>
<ul class="nav flex-column py-1 text-nowrap">
	{% for item in cli_nav %}
		<li class="nav-item"><a class="nav-link" href="#{{ item.U_ANCHOR }}"><svg class="bi me-1" width="16" height="16" fill="currentColor"><use xlink:href="{{ QI_ROOT_PATH }}style/assets/img/bootstrap-icons.svg#file-code"/></svg> {{ item.TITLE }}</a></li>
	{% endfor %}
</ul>
