/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
	position: relative;
}

footer {
	padding: 10px 0;
}

/* workaround to reposition anchor links under navbar */
.anchor {
	padding-top: 60px;
	margin-top: -60px;
}

/* Sidebar navigation */
/* Hide for mobile, show later */
.sidebar {
	display: none;
	text-align: center;
}
@media (min-width: 768px) {
	.sidebar {
		display: block;
		position: fixed;
		top: 50px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		border-right: 1px solid #eee;
		text-align: left;
	}
}
.sidebar-boards {
	display: block;
}

.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}
.nav-sidebar > li > a {
	padding: 0 20px;
}

.nav-sidebar > li.active {
	background-color: #eee;
}

.main {
	padding: 0 40px;
}

.phpinfo {
	margin-top: 20px;
}

/* bootstrap mods */
.help-block {
	color: #555;
	font-size: 0.9em;
	font-weight: normal;
	margin-bottom: 0;
}

.form-horizontal .control-label.text-left {
	text-align: left;
}
