/* Move down content because we have a fixed navbar that is 50px tall */
body {
	position: relative; /* required for scrollspy */
}

legend {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 20px;
}

/* workaround to reposition anchor links under navbar */
.anchor {
	margin-top: -64px;
	padding-top: 64px;
}

.sidebar {
	text-align: left;
	border-right: 1px solid #eeeeee;
	position: fixed;
	top: 50px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	min-width: 200px;
	padding: 20px;
	background-color: #f5f5f5;
}

.sidebar .nav {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}

.sidebar .nav-link {
	padding: 2px 20px;
	font-weight: 500;
	color: #333;
}

.sidebar .nav-link.active {
	color: #47A1EB;
	background-color: #eeeeee;
}

.phpbb-logo {
	background-image: url("../img/logo_small_white.svg");
	background-repeat: no-repeat;
	padding-left: 70px;
}

.form-text {
	font-size: 0.8rem;
}

.navbar {
	font-size: 1rem;
}

svg.icon {
	color: #999999;
}

.sidebar .nav-link:hover svg.icon,
.sidebar .nav-link.active svg.icon {
	color: inherit;
}

/* Parsedown styling for docs */
#readme blockquote {
	padding: 0 1rem;
	color: #6a737d;
	border-left: .25rem solid #dfe2e5;
}

#about-readme h2,
#about-changelog h2 {
	padding-bottom: .5rem;
	padding-top: 1rem;
	border-bottom: 1px solid #eaecef;
}
