.fw-500 {
	font-weight: 500;
}

.bg-phpbb {
	background-color: #F5F7FA;
}

.bg-phpbb-badge {
	background-color: #4e4a4a !important;
	color: #b3b3b3 !important;
}

legend {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 1.25rem;
}

.phpbb-logo {
	background-image: url("../img/logo_small_white.svg");
	background-repeat: no-repeat;
	padding: 0.125rem 2.6rem;
	margin-left: 0.5rem;
}

.navbar-toggler-icon-qi-boards {
	background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgba%28255, 255, 255, 0.55%29' xmlns='http://www.w3.org/2000/svg'><path d='M2.5 3.5a.5.5 0 010-1h11a.5.5 0 010 1h-11zm2-2a.5.5 0 010-1h7a.5.5 0 010 1h-7zM0 13a1.5 1.5 0 001.5 1.5h13A1.5 1.5 0 0016 13V6a1.5 1.5 0 00-1.5-1.5h-13A1.5 1.5 0 000 6v7zm1.5.5A.5.5 0 011 13V6a.5.5 0 01.5-.5h13a.5.5 0 01.5.5v7a.5.5 0 01-.5.5h-13z'/></svg>") !important;
}

/* workaround to reposition anchor links under navbar */
.anchor {
	margin-top: -4rem;
	padding-top: 4rem;
}

/* sidebar styling */
.sidebar {
	top: 3.375rem;
	bottom: 0;
	left: 0;
	z-index: 1000;
	overflow-y: scroll; /* Scrollable contents if viewport is shorter than content. */
	min-width: 200px;
	background-color: #343131;
	color: #b3b3b3;
}

.sidebar a {
	color: #b3b3b3;
}

.sidebar .nav-link {
	padding: .2rem 1rem .2rem .5rem;
}

.sidebar .nav-link.active {
	background-color: #4e4a4a;
	border-radius: .25rem;
}

.sidebar .list-group-item,
.sidebar .border-bottom {
	border-color: rgba(255, 255, 255, .125) !important;
}

svg.icon {
	color: #999999;
}

.sidebar .nav-link:hover svg.icon,
.sidebar .nav-link.active svg.icon {
	color: inherit;
}

/* Parsedown styling for docs */
#readme blockquote {
	padding: 0 1rem;
	color: #6a737d;
	border-left: .25rem solid #dfe2e5;
}

#about-readme h2,
#about-changelog h2 {
	padding-bottom: .5rem;
	padding-top: 1rem;
	border-bottom: 1px solid #eaecef;
}
