:root {
	--darkside-color: hsl(0, 0%, 70%);
	--darkside-color-dim: hsl(0, 0%, 50%);
	--darkside-bg-color: hsl(219, 20%, 20%);
	--darkside-bg-hilight: rgba(255, 255, 255, 0.12);
}

.phpbb-logo {
	background-image: url("../img/logo_small_white.svg");
	background-repeat: no-repeat;
	padding: 0.125rem 3rem;
	margin-left: 0.5rem;
}

.navbar-dark .navbar-toggler-icon-qi-boards {
	background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgba%28255, 255, 255, 0.55%29' xmlns='http://www.w3.org/2000/svg'><path d='M2.5 3.5a.5.5 0 010-1h11a.5.5 0 010 1h-11zm2-2a.5.5 0 010-1h7a.5.5 0 010 1h-7zM0 13a1.5 1.5 0 001.5 1.5h13A1.5 1.5 0 0016 13V6a1.5 1.5 0 00-1.5-1.5h-13A1.5 1.5 0 000 6v7zm1.5.5A.5.5 0 011 13V6a.5.5 0 01.5-.5h13a.5.5 0 01.5.5v7a.5.5 0 01-.5.5h-13z'/></svg>");
}

/* workaround to reposition anchor links under navbar */
.anchor {
	margin-top: -4rem;
	padding-top: 4rem;
}

/* sidebar styling */
.sidebar {
	top: 3.375rem;
	bottom: 0;
	left: 0;
	z-index: 1000;
	overflow-y: scroll; /* Scrollable contents if viewport is shorter than content. */
	min-width: 200px;
	background-color: var(--darkside-bg-color);
	color: var(--darkside-color);
}

.sidebar a {
	color: var(--darkside-color);
}

.sidebar .nav-link {
	padding: .2rem 1rem .2rem .5rem;
}

.sidebar .nav-link.active {
	background-color: var(--darkside-bg-hilight);
	border-radius: .25rem;
}

.sidebar .nav-link svg.bi {
	line-height: 1.5rem;
	color: var(--darkside-color-dim);
}

.sidebar .nav-link:hover,
.sidebar .nav-link:hover svg.bi,
.sidebar .nav-link.active svg.bi {
	color: inherit;
}

.sidebar .list-group-item,
.sidebar .border-bottom,
.sidebar .border-top {
	border-color: var(--darkside-bg-hilight) !important; /* !important to override bootstrap's !important */
}

.sidebar .badge {
	background-color: var(--darkside-bg-hilight);
	color: var(--darkside-color);
}

.badge {
	line-height: 1em;
}

svg.bi {
	vertical-align: -.125em;
}

.lh-0 {
	line-height: 0;
}

/* Dark mode adjustments */
@media (prefers-color-scheme: dark) {
  .navbar.bg-primary {
    background-color: var(--darkside-bg-color) !important; /* !important to override bootstrap's !important */
  }

  body.bg-secondary {
    background-color: #0d1117 !important; /* !important to override bootstrap's !important */
  }

  .callout-warning {
	  border-left-color: #f39c12;
  }

  .phpbb-cosmos-logo > path {
	  fill: #ffffff;
  }

  /* https://codepen.io/sosuke/pen/Pjoqqp */
  .dark-filter {
	  filter: brightness(0) saturate(100%) invert(74%) sepia(97%) saturate(1%) hue-rotate(315deg) brightness(98%) contrast(103%); /* #E1E1E1 */
  }

  .phpbb-logo {
	  filter: brightness(0) saturate(100%) invert(100%) sepia(5%) saturate(23%) hue-rotate(84deg) brightness(104%) contrast(96%); /* #FAFAFA */
  }
}
