/* Move down content because we have a fixed navbar that is 50px tall */
body {
	position: relative;
	padding-top: 50px;
}

footer {
	padding: 20px 0;
}

/* workaround to reposition anchor links under navbar */
.anchor {
	margin-top: -60px;
	padding-top: 60px;
}

/* Sidebar navigation - Hide for mobile, show later */
.sidebar {
	text-align: center;
	display: none;
}

@media (min-width: 768px) {
	.sidebar {
		text-align: left;
		border-right: 1px solid #eeeeee;
		position: fixed;
		top: 50px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		min-width: 200px;
		padding: 20px;
		background-color: #f5f5f5;
		border-right: solid 1px #eee;
	}
}

.sidebar-boards {
	display: block;
}

.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}

.nav-sidebar > li > a {
	padding: 0 20px;
}

.nav-sidebar > .active {
	background-color: #eeeeee;
}

.main {
	padding: 0 40px;
}

.phpinfo {
	margin-top: 20px;
}

.unstyled-link {
	color: #333333;
}

.unstyled-link:hover {
	text-decoration: none;
}

/* bootstrap mods */
.help-block {
	font-size: 0.9em;
	font-weight: normal;
	color: #555555;
	margin-bottom: 0;
}

.form-horizontal .control-label.text-left {
	text-align: left;
}

/* custom QI buttons */
.button {
	font-family: 'Open Sans', 'Droid Sans', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 1.4;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #e9e9e9;
	background-image: linear-gradient(to bottom, #ffffff 0%, #e9e9e9 100%);
	border: 1px solid #666666;
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #333333;
	display: inline-block;
	padding: 4px 8px;
	cursor: pointer;
	touch-action: manipulation;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.button-bold {
	font-weight: 700;
}

.button:active,
.button:focus,
.button:hover {
	text-decoration: none;
	background-color: #ffffff;
	background-image: linear-gradient(to bottom, #e9e9e9 0%, #ffffff 100%);
	outline: none;
}

.button:hover,
.button-bold:hover {
	border-color: #d31141;
	color: #d31141;
	text-shadow: none;
}

.button:active,
.button-bold:active {
	border-color: #0a8ed0;
	color: #0a8ed0;
	text-shadow: none;
}

.button[disabled],
.button-bold[disabled] {
	opacity: 0.65;
	filter: alpha(opacity=65);
	cursor: not-allowed;
}

.phpbb-logo {
	background-image: url("../img/logo_small_white.svg");
	background-repeat: no-repeat;
	padding-left: 70px;
}
